img{
    width: 400px;
    height: 400px;
}
body{
    background-color:#c3f8ff;
}
h1{
    font-family: arial;
}
p{
    font-family: arial;
}
.olLevelOne{
    font-family: Arial;
    font: 1.25rem;
    font-weight: bold;
}
.olLevelTwo{
    font-size: 1rem;
    font-weight: normal;
    list-style-type: lower-roman;
}
.ulLevelOne{
    font-family: Arial;
    font-size: 1.25rem;
    font-weight: bold;
    list-style-type: none;
}
.ulLevelTwo{
    font-size: 1rem;
    font-weight: normal;
    list-style-type: none;
}
